#root {
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-top: 10px;
}

.calculator {
  width: 700px;
  display: flex;
  flex-direction: column;
}

.display {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  background-color: #808080;
  height: 100px;
  color: #fff;
  font-weight: 900;
  font-size: 80px;
}

.buttonPanel {
  display: flex;
  flex-direction: column;
}

.buttonPanel > .buttonPanel-row {
  height: 100px;
  display: flex;
  flex-direction: row;
}

.buttonPanel > .buttonPanel-row > .calcButton {
  height: 100%;
  text-align: center;
  font-size: 23px;
  color: #000;
  border: 1px solid rgb(226, 226, 226);
  cursor: pointer;
  padding: 0;
}

.standard {
  width: 25%;
}

.large {
  width: 50%;
}

.orange {
  background-color: #ffa500;
}

.light-gray {
  background-color: #d3d3d3;
}
